<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="darkreader-lock">
    <title>{% block title %}Hopedge - Silky Smooth Software{% endblock %}</title>
    <link rel="stylesheet" href="{{ main_css_path }}">
</head>

<body>
    {% block header %}
    {{ header.html|safe }}
    {% endblock %}

    <main>
        <div class="content">
            {% block main %}{% endblock %}
        </div>
    </main>
</body>

</html>